{% extends 'accounts/base.html' %}

	{% block content %}

						Forgot Password
					</span>
				</div>

				<form class="login100-form validate-form" method="post">
					{% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">New Password</span>
						<input class="input100" type="password" name="newpass" placeholder="Enter new password">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Re-type Password</span>
						<input class="input100" type="password" name="cpass" placeholder="Enter confirm password">
						<span class="focus-input100"></span>
					</div>





					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Forgot Password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endblock %}