{% extends 'accounts/base.html' %}

	{% block content %}

						Sign In
					</span>
				</div>
				{% if messages%}
					{% for msg in messages%}
						<div class="alert alert-{{ msg.tags }}" role="alert">
							<p>{{msg}}</p>
						</div>
					{% endfor %}
				{% endif%}



				<form class="login100-form validate-form" method="post">
					{% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="{% url 'forgot' %}" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>

					<div class="flex-sb-m w-full p-b-30">

						<div>
							<a href="signup" class="txt1">
								Don't Have an Account? SignUp here
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endblock %}